.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  min-width: 75px;
  border: 2px solid #141414;
}

.image {
  display: block;
  margin-top: 8px;
}

.name {
  font-weight: 500;
  font-size: 20px;
}

.online {
  font-weight: 500;
  margin-bottom: 10px;
  color: #3fbb05c9;
}

.offline {
  font-weight: 500;
  margin-bottom: 10px;
  color: #970101;
}
